<div class="sidebar col-12 col-sm-3">
    {#<form class="sidebar-search d-flex align-items-center" role="search">
        <div class="input-group">
            <input
                type="search"
                class="form-control ds-input"
                placeholder="Search..."
                aria-label="Search for..."
            />
        </div>
        <button
            class="btn d-sm-none py-0 px-0 ms-3"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#sidebar-nav"
            aria-expanded="false"
            aria-controls="sidebar-nav"
        >
            <twig:ux:icon name="lucide:menu" class="svg-inline--fa" />
        </button>
    </form>#}
    <nav id="sidebar-nav" class="sidebar-nav collapse d-sm-block">
        <div class="sidebar-section">
            {% for section in docs %}
                <h4>{{ section.title }}</h4>
                <ul class="sidebar-items">
                    {% for item in section.items %}
                        <li class="{% if slug is defined and slug == item.title|lower|replace({' ': '-'}) %}active{% endif %}">
                            <span class="link">{{ item.title }}</span>
                            <a href="{{ item.link }}">{{ item.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    </nav>
</div>