{% extends 'shop/base.html.twig' %}

{% block body %}
<section class="section container-fluid">
    <h3>All tags</h3>
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <p>{{ tags|length }} tags</p>
            <p>
                {% for tag in tags %}
                    <a href="{{ path('app_shop_tag', {'slug': tag.tag}) }}" class="btn btn-primary mr-2">
                        <twig:ux:icon name="lucide:tag" class="svg-inline--fa" /> {{ tag.tag }} ({{ tag.count }})
                    </a>
                {% endfor %}
            </p>
        </div>
    </div>
</section>
{% endblock %}