<div{{ attributes }}>
<twig:FlowHeader
        title="Function"
    />
<form className="form-sm-horizontal">
    <div class="form-group">
        <label for="code" class="control-label">Code</label>
        <div class="control-field">
            <textarea id="code" class="form-control code-editor" data-language="javascript">{{ data }}</textarea>
        </div>
    </div>
</form>
</div>
